html {
    display: flex;
    justify-content: center;
}

body {
    background-color: #edf1fa;
    color: #43474e;
    font-family: sans-serif;
}

svg {
    fill: currentColor;
}

a {
    color: inherit;
    padding: 0 0.2em;
}

:focus {
    outline: none;
    background-color: #756599;
    color: #edf1fa;
}

body.index {
    display: flex;
    margin: 0;
    height: 100vh;
}

main {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main svg {
    width: 50vmin;
    height: 50vmin;
    max-width: 20em;
    max-height: 20em;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav a {
    margin: 0.2em 0.5em;
    font-size: 1.5em;
}

h1 {
    margin-top: 0.5em;
    margin-bottom: 0;
    font-size: 2em;
    font-weight: bold;
}

h2 {
    color: #295984;
    font-size: 1.5em;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

ul {
    margin: 0;
}

p {
    margin-top: 1em;
    margin-bottom: 0;
}

details > summary {
    padding: 0 0.2em;
    width: fit-content;
}

h1 + .title
{
    font-size: 1.7em;
    margin-top: 0;
    margin-bottom: 0;
}

.company,
.school {
    color: #45719e;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 0;
}

h2 + .company,
h2 + .school {
    margin-top: 1rem;
}

.title {
    color: #1b7793;
    font-size: 1.1em;
    font-weight: bold;
}

.company + ul,
.school + ul {
    padding-left: 0;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: baseline;
}

.company + ul li,
.school + ul li {
    margin: 0.2em 1em 0.2em 0;
}

.period,
.location {
    font-style: italic;
}

.technologies {
    font-weight: bold;
    font-style: italic;
    margin-top: 1em;
    margin-bottom: 0;
}

.technologies + ul {
    display: flex;
    list-style: none;
    flex-direction: column;
}

.technologies + ul li {
    display: flex;
    align-items: baseline;
}

.technologies + ul ul {
    padding-left: 0;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.technologies + ul ul li {
    font-size: 0.9em;
    background-color: #dfe3ec;
    margin: 0.2em 0.5em;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #29313f;
        color: #c7cfe1;
    }

    h2 {
        color: #b0d3ff;
    }

    :focus {
        background-color: #c1b2e2;
        color: #29313f;
    }

    .company,
    .school {
        color: #99bde7;
    }

    .title {
        color: #81c3dd;
    }

    .technologies + ul ul li {
        background-color: #343c4a;
    }
}

@media print {
    html {
        justify-content: left;
    }

    body {
        background-color: white;
    }

    .technologies + ul ul li {
        background-color: #edf1fa;
    }
}
