body {
    background-color: #edf1fa;
    color: #43474e;
    font-family: sans-serif;
    display: flex;
    margin: 0;
    height: 100vh;
}

a {
    color: inherit;
    padding: 0 0.2em;
}

a:focus {
    outline: none;
    background-color: #756599;
    color: #edf1fa;
}

main {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: column;
}

nav a {
    margin: 0.5em;
    font-size: 1.5em;
}

input[type="checkbox"], label {
    vertical-align: middle;
}

input[type="checkbox"] {
    appearance: none;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    border: 2px solid #43474e;
    padding: 2px;
    outline-offset: 0;
    margin-right: 1em;
}

input[type="checkbox"]:checked {
    border-color: #9a9ea7;
    background-color: #9a9ea7;
    background-clip: content-box;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:focus:checked + label {
    text-decoration: line-through;
    color: #9a9ea7;
}

input[type="checkbox"]:focus {
    outline: #756599 solid 4px;
    border-color: #756599;
}

input[type="checkbox"]:focus + label {
    color: #756599;
}

label {
    font-size: 1.5em;
}

div div {
    margin: 0.5em;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #29313f;
        color: #c7cfe1;
    }

    a:focus {
        background-color: #c1b2e2;
        color: #29313f;
    }

    input[type="checkbox"] {
        border-color: #c7cfe1;
    }

    input[type="checkbox"]:checked {
        border-color: #687080;
        background-color: #687080;
    }

    input[type="checkbox"]:checked + label,
    input[type="checkbox"]:focus:checked + label {
        color: #687080;
    }

    input[type="checkbox"]:focus {
        outline-color: #c1b2e2;
        border-color: #c1b2e2;
    }

    input[type="checkbox"]:focus + label {
        color: #c1b2e2;
    }
}
