body {
    background-color: #edf1fa;
    color: #43474e;
    font-family: sans-serif;
    display: flex;
    margin: 0;
}

a {
    color: inherit;
}

main {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: column;
}

nav a {
    margin: 0.5em;
    font-size: 1.5em;
}

input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    color: #9a9ea7;
}

label {
    font-size: 1.5em;
    margin: 0.5em;
}

div div {
    margin: 0.5em;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #29313f;
        color: #c7cfe1;
    }

    input[type="checkbox"]:checked + label {
        color: #687080;
    }
}
