body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.deco {
    border-color: var(--light-base0B);
    border-top-style: solid;
    border-top-width: 4vh;
    border-bottom-style: solid;
    border-bottom-width: 0.5vh;
}

.deco::before {
    content: "";
    display: block;
    width: 100vw;
    height: 1.5vh;
    background-color: var(--light-base0B);
    mask-image: url("symbols.svg#horizontal-motif");
    mask-size: 0.877512698vh 1.2vh; /* 1.2 * 24.863281 / 34.000576 */
    mask-repeat: repeat-x;
    mask-position: center;
}

body::after {
    content: "";
    width: 100vw;
    height: 6vh;
}

main {
    padding: 2em;
    display: flex;
    gap: 2em;
    align-items: center;
    flex-direction: column;
}

main svg {
    fill: currentColor;
    width: 6em;
    height: 6.7em;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: flex-start;
}

nav a {
    font-size: 1.5em;
    padding: 0 0.2em;
    white-space: nowrap;
    text-decoration: none;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 0.2em;
    border-color: transparent;
}

nav a:hover {
    border-bottom-color: var(--light-base0B);
}

nav a.external::after {
    content: "↗";
    margin-left: 0.2em;
    display: inline-block;
    width: 0.6em;
    font-size: 0.8em;
}

nav a.external:focus::after {
    color: var(--light-background);
}

@media screen and (min-width: 40em) {
    body {
        flex-direction: row;
    }

    .deco {
        border-top-style: unset;
        border-top-width: unset;
        border-bottom-style: unset;
        border-bottom-width: unset;
        border-left-style: solid;
        border-left-width: 4vw;
        border-right-style: solid;
        border-right-width: 0.5vw;
    }

    .deco::before {
        width: 1.5vw;
        height: 100vh;
        mask-image: url("symbols.svg#vertical-motif");
        mask-size: 1.2vw 0.877512698vw ; /* 1.2 * 24.863281 / 34.000576 */
        mask-repeat: repeat-y;
    }

    body::after {
        width: 6vw;
        height: 100vh;
    }

    main {
        flex-direction: row;
    }

    main svg {
        width: 12em;
        height: 13.4em;
    }
}

@media (prefers-color-scheme: dark) {
    .deco {
        border-color: var(--dark-base0B);
    }

    .deco::before {
        background-color: var(--dark-base0B);
    }

    nav a:hover {
        border-bottom-color: var(--dark-base0B);
    }

    nav a.external:focus::after {
        color: var(--dark-background);
    }
}
