body {
    background-color: #f2f7fc;
    color: #34373b;
    font-family: sans-serif;
    display: flex;
    margin: 0;
    height: 100vh;
}

a {
    color: inherit;
    padding: 0 0.2em;
}

a:focus {
    outline: none;
    background-color: #756599;
    color: #f2f7fc;
}

main {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: column;
}

nav a {
    margin: 0.5em;
    font-size: 1.5em;
}

input[type="checkbox"], label {
    vertical-align: middle;
}

input[type="checkbox"] {
    appearance: none;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    border: 2px solid #34373b;
    padding: 2px;
    outline-offset: 0;
    margin-right: 1em;
}

input[type="checkbox"]:checked {
    border-color: #9fa4a8;
    background-color: #9fa4a8;
    background-clip: content-box;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:focus:checked + label {
    text-decoration: line-through;
    color: #9fa4a8;
}

input[type="checkbox"]:focus {
    outline: #756599 solid 4px;
    border-color: #756599;
}

input[type="checkbox"]:focus + label {
    color: #756599;
}

label {
    font-size: 1.5em;
}

div div {
    margin: 0.5em;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121d25;
        color: #c8d3e0;
    }

    a:focus {
        background-color: #c1b2e2;
        color: #121d25;
    }

    input[type="checkbox"] {
        border-color: #c8d3e0;
    }

    input[type="checkbox"]:checked {
        border-color: #4d5963;
        background-color: #4d5963;
    }

    input[type="checkbox"]:checked + label,
    input[type="checkbox"]:focus:checked + label {
        color: #4d5963;
    }

    input[type="checkbox"]:focus {
        outline-color: #c1b2e2;
        border-color: #c1b2e2;
    }

    input[type="checkbox"]:focus + label {
        color: #c1b2e2;
    }
}
